# 统一仓库文本格式，同时保持硬件和固件产物为二进制文件
* text=auto

*.c       text eol=lf
*.h       text eol=lf
*.S       text eol=lf
*.ld      text eol=lf
*.tcl     text eol=lf
*.xml     text eol=lf
*.mss     text eol=lf
*.md      text eol=lf
*.bif     text eol=lf
*.project text eol=lf
*.cproject text eol=lf
*.prefs   text eol=lf
.editorconfig text eol=lf

*.bit binary
*.hdf binary
*.bin binary
*.elf binary
*.a   binary
*.o   binary
